In [22]:
import pandas as pd

In [23]:
banking = pd.read_csv('../dataset/banking.csv')
banking.drop(["Unnamed: 0"], axis=1, inplace=True)
banking

,date,cca,ccb,descricao,debito,credito,movimentacao,cc_id,cc_descricao,grupo,subgrupo,detail,cenario,grupo_empresarial,empresa
0,2023-01-03,8608,1409,Kelly Hernandez,567060,42586,497165,491551,Gary Lowe,Western Sahara,"Engineer, communications",Fred Marshall,Maldives,Trinidad and Tobago dollar,Russell Woodard
1,2022-11-16,9020,5033,Michael Wilkinson,132674,776325,951505,511062,Catherine Robinson,Madagascar,"Conservator, museum/gallery",Samantha May,Cyprus,Dominican peso,Courtney Hopkins MD
2,2023-01-18,2945,3968,James Blankenship,398416,542904,316851,198639,Megan Reynolds,Hong Kong,Textile designer,Laura Guerra,Central African Republic,Paraguayan guarani,Emily Brown
3,2023-01-05,2086,1609,Eric Porter,696861,839881,99553,352042,Bruce Russell,Samoa,"Scientist, physiological",Erin Newton,Canada,Belarusian ruble,Sharon Jones
4,2022-11-21,5482,2593,Stacey Hodges,233882,338897,700719,656713,Annette Harvey,Chad,Metallurgist,Michael Johnson,Argentina,Costa Rican colón,Matthew Gray
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022-11-24,9885,8567,Laura Jones,279447,675007,344304,675417,Ross Miller,Israel,"Physicist, medical",Ashley Johnson,Jersey,Nepalese rupee,Chad Watson
96,2022-11-03,2918,8307,David Rogers,653149,5933,709948,573469,Lindsey Alvarez,Guyana,Pension scheme manager,Thomas Bender,Cyprus,Omani rial,Adrienne Davidson
97,2023-01-08,4227,1191,Breanna King,526405,794629,351285,163764,Elizabeth Bullock DDS,Eritrea,"Engineer, biomedical",Melissa Williams,Paraguay,Icelandic króna,Justin Mills
98,2022-12-10,7602,8470,Renee Little,555844,281129,576104,318962,Ms. Linda Powell PhD,Nigeria,Theme park manager,Heather Friedman,Iran,Algerian dinar,James Reese
99,2023-01-18,2211,8555,Joanna Orozco,678892,458279,509409,657113,Crystal Acosta,United Kingdom,Fish farm manager,Thomas Kemp,Greece,Rwandan franc,Gabriela Shannon

In [24]:
print(f"Shape dataset Full:.........observations/rows: {banking.shape[0]} and columns: {banking.shape[1]}")

Shape dataset Full:.........observations/rows: 100 and columns: 15

In [25]:
banking.dtypes

date                 object
cca                   int64
ccb                   int64
descricao            object
debito                int64
credito               int64
movimentacao          int64
cc_id                 int64
cc_descricao         object
grupo                object
subgrupo             object
detail               object
cenario              object
grupo_empresarial    object
empresa              object
dtype: object