In [50]:
import pandas as pd
import os

#### Data Available - Stocks

In [51]:
os.system('ls ../reference/stock_market_data/')

forbes2000
nasdaq
nyse
sp500

0

In [52]:
#os.system('ls ../reference/stock_market_data/nasdaq/csv')

In [53]:
market = 'nasdaq'
stock = 'AAPL'

#### Read Dataset - Stock

In [54]:
df_finance = pd.read_csv(f'../reference/stock_market_data/{market}/csv/{stock}.csv')

In [55]:
print(f"Shape dataset Full:.........observations/rows: {df_finance.shape[0]} and columns: {df_finance.shape[1]}")

Shape dataset Full:.........observations/rows: 10590 and columns: 7

In [56]:
df_finance.columns

Index(['Date', 'Low', 'Open', 'Volume', 'High', 'Close', 'Adjusted Close'], dtype='object')

In [57]:
df_finance.head(20)

,Date,Low,Open,Volume,High,Close,Adjusted Close
0,12-12-1980,0.128348,0.128348,469033600,0.128906,0.128348,0.099874
1,15-12-1980,0.121652,0.122210,175884800,0.122210,0.121652,0.094663
2,16-12-1980,0.112723,0.113281,105728000,0.113281,0.112723,0.087715
3,17-12-1980,0.115513,0.115513,86441600,0.116071,0.115513,0.089886
4,18-12-1980,0.118862,0.118862,73449600,0.119420,0.118862,0.092492
5,19-12-1980,0.126116,0.126116,48630400,0.126674,0.126116,0.098137
6,22-12-1980,0.132254,0.132254,37363200,0.132813,0.132254,0.102913
7,23-12-1980,0.137835,0.137835,46950400,0.138393,0.137835,0.107256
8,24-12-1980,0.145089,0.145089,48003200,0.145647,0.145089,0.112901
9,26-12-1980,0.158482,0.158482,55574400,0.159040,0.158482,0.123322
10,29-12-1980,0.160714,0.160714,93161600,0.161272,0.160714,0.125059
11,30-12-1980,0.156808,0.157366,68880000,0.157366,0.156808,0.122020
12,31-12-1980,0.152344,0.152902,35750400,0.152902,0.152344,0.118546
13,02-01-1981,0.154018,0.154018,21660800,0.155134,0.154018,0.119849
14,05-01-1981,0.150670,0.151228,35728000,0.151228,0.150670,0.117244
15,06-01-1981,0.143973,0.144531,45158400,0.144531,0.143973,0.112032
16,07-01-1981,0.137835,0.138393,55686400,0.138393,0.137835,0.107256
17,08-01-1981,0.135045,0.135603,39827200,0.135603,0.135045,0.105085
18,09-01-1981,0.142299,0.142299,21504000,0.142857,0.142299,0.110730
19,12-01-1981,0.141183,0.142299,23699200,0.142299,0.141183,0.109861